
.header {
    background-image: url(../images/fundo.jpg);
    min-height: 100vh;


    @media (max-width: 768px) {
        background-image: url(../images/fundo-celular.jpg);  
        background-size: cover;
        background-repeat: no-repeat; 
    }

    @media (min-width: 1280px) {
        background-size: 100%;
    }

    @media (min-width: 820px) {
        background-image: url(../images/fundo-tablet.jpg);
        
    }

}