
.header {
    background-image: url(../images/fundo.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    min-height: 100vh;


    @media (max-width: 768px) {
        background-image: url(../images/fundo-celular.jpg);  
        background-size: cover;
        background-repeat: no-repeat; 
    }



    @media (max-width: 820px) {
        background-image: url(../images/fundo-tablet.jpg);

    }

}